body
{
  color: white;
  background: #8c314e;
}
span
{
  font-size: 50px;
}
#camera , #result
{
  border: 4px dashed black;
  width: 350px;
  height: 300px; 
}
#resultEmotionName ,#resultEmotionName2 
{
  color: black;
}
.emotionName
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 15px;
}
#camera 
  {
    border: 4px dashed black;
    width: 350px;
    height: 300px; 
  }